@import "./variables.scss";
@import "./mixins/mixins";
@import "./components/index";
body {
    padding-top: constant(safe-area-inset-top);
    /* iOS 11.0 */
    padding-top: env(safe-area-inset-top);
    /* iOS 11.2 */
    .itg {
        --color: var(--app-text-color);
        --default-font: var(--font-family);
    }
}

.flex-1 {
    flex: 1;
}

.flex {
    @include flexbox();
}

.flex-0 {
    flex: 0;
}

.inline-flex {
    display: inline-flex;
}

.mt-0-reset {
    margin-top: 0 !important;
}

.flex-grow-0 {
    flex-grow: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-row {
    @include flex-direction(row);
}

.flex-column {
    @include flex-direction(column);
}

.flex-row-reverse {
    @include flex-direction(row-reverse);
}

.flex-column-reverse {
    @include flex-direction(column-reverse);
}

.overflow-y-visible {
    overflow-y: visible;
}

.overflow-x-visible {
    overflow-x: visible;
}

.overflow-visible {
    overflow: visible;
}

.opacity-08 {
    opacity: 0.8;
}

.opacity-05 {
    opacity: 0.5;
}

.opacity-hide {
    opacity: 0;
}

.opacity-0 {
    opacity: 0;
}

.visibility-hidden {
    visibility: hidden;
}

.itg-gradient-image {
    background: $green-gradient;
    background-image: url("/assets/custom-icons/md-itg-green-bg.svg"), $green-gradient;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.d-none {
    display: none;
}

:root {
    // Global enforce.
     :focus {
        outline: none;
    }
}

html,
body,
.app,
.content {
    background-color: transparent !important;
}

@media (min-width: $desktop-width) {
    .d-lg-none {
        display: none !important;
    }
    .d-lg-block {
        display: block;
    }
}

@media (max-width: $mobile-width) {
    .di-sm-none {
        display: none !important;
    }
    .di-sm-block {
        display: block !important;
    }
}