// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    --font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    --default-font: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    --background-color: #f5f9fc;
    --background-color-rgb: 245, 249, 252;
    /** primary **/
    --color-primary: #3880ff;
    --color-primary-rgb: 56, 128, 255;
    --color-primary-contrast: #ffffff;
    --color-primary-contrast-rgb: 255, 255, 255;
    --color-primary-shade: #3171e0;
    --color-primary-tint: #4c8dff;
    /** secondary **/
    --color-secondary: #3dc2ff;
    --color-secondary-rgb: 61, 194, 255;
    --color-secondary-contrast: #ffffff;
    --color-secondary-contrast-rgb: 255, 255, 255;
    --color-secondary-shade: #36abe0;
    --color-secondary-tint: #50c8ff;
    /** tertiary **/
    --color-tertiary: #5260ff;
    --color-tertiary-rgb: 82, 96, 255;
    --color-tertiary-contrast: #ffffff;
    --color-tertiary-contrast-rgb: 255, 255, 255;
    --color-tertiary-shade: #4854e0;
    --color-tertiary-tint: #6370ff;
    --color-success: #008641;
    --color-success-rgb: 0, 134, 65;
    --color-success-contrast: #ffffff;
    --color-success-contrast-rgb: 255, 255, 255;
    --color-success-shade: #007639;
    --color-success-tint: #1a9254;
    --color-warning: #ffc409;
    --color-warning-rgb: 255, 196, 9;
    --color-warning-contrast: #000000;
    --color-warning-contrast-rgb: 0, 0, 0;
    --color-warning-shade: #e0ac08;
    --color-warning-tint: #ffca22;
    --color-danger: #ef6d53;
    --color-danger-rgb: 239, 109, 83;
    --color-danger-contrast: #ffffff;
    --color-danger-contrast-rgb: 255 255 255;
    --color-danger-shade: #d26049;
    --color-danger-tint: #f17c64;
    --color-dark: #191a19;
    --color-dark-rgb: 25, 26, 25;
    --color-dark-contrast: #ffffff;
    --color-dark-contrast-rgb: 255, 255, 255;
    --color-dark-shade: #161716;
    --color-dark-tint: #303130;
    --color-medium: #747c78;
    --color-medium-rgb: 116, 124, 120;
    --color-medium-contrast: #ffffff;
    --color-medium-contrast-rgb: 255, 255, 255;
    --color-medium-shade: #666d6a;
    --color-medium-tint: #828986;
    --color-light: #d1d4d2;
    --color-light-rgb: 209, 212, 210;
    --color-light-contrast: #000000;
    --color-light-contrast-rgb: 0, 0, 0;
    --color-light-shade: #d7d8da;
    --color-light-tint: #f5f6f9;
    --app-green-color: #018641;
    --app-dark-green: #006330;
    --color-light-shade: #b8bbb9;
    --color-light-tint: #d6d8d7;
    /** Custom colors **/
    --color-green-gradient: #008641;
    --color-green-gradient-rgb: 0, 134, 65;
    --color-green-gradient-contrast: #ffffff;
    --color-green-gradient-contrast-rgb: 255, 255, 255;
    --color-green-gradient-shade: #006330;
    --color-green-gradient-tint: #1a9254;
    --color-itg-light-green: #e5f2ec;
    --color-itg-light-green-rgb: 229, 242, 236;
    --color-itg-light-green-contrast: #191a19;
    --color-itg-light-green-contrast-rgb: 25, 26, 25;
    --color-itg-light-green-shade: #cad5d0;
    --color-itg-light-green-tint: #e8f3ee;
    --color-itg-medium: #a7aca9;
    --color-itg-medium-rgb: 167, 172, 169;
    --color-itg-medium-contrast: #000000;
    --color-itg-medium-contrast-rgb: 0, 0, 0;
    --color-itg-medium-shade: #a7aca9;
    --color-itg-medium-tint: #b0b4b2;
    --color-itg-red: #e1261c;
    --color-dark-green-b: #004220;
    --color-dark-green-b-rgb: 0, 66, 32;
    --color-dark-green-b-contrast: #ffffff;
    --color-dark-green-b-contrast-rgb: 255, 255, 255;
    --color-dark-green-b-shade: #003a1c;
    --color-dark-green-b-tint: #1a5536;
    --color-itg-grey-5: #4a4f4c;
    --color-itg-grey-medium-2: #f7f8f7;
    --app-green-color: #006330;
    --app-dark-green-b-color: #004220;
    --app-green-color-light: #008641;
    --app-green-color-light2: #5fb63d;
    --app-text-color: #191a19;
    --color: #191a19;
    --app-secondary-text-color: #747c78;
    --app-input-label-color: #6E6E6E;
    --app-grey-3: #8b8b8b;
    --app-white-color: #ffffff;
    --app-red-color: #e1261c;
    --app-active-color: #f2f9f5;
    --app-light-green-color: #e5f2ec;
    --app-light-red-color: #c32328;
    --app-color-danger: #ef6d53;
    --app-color-danger-2: #e1261c;
    --app-color-white: #ffffff;
    --danger-gradient-1: #ef6d53;
    --danger-gradient-2: #e63c2d;
    --light-green-5: #bfe2d0;
    --danger-gradient: linear-gradient( 135deg, var(--danger-gradient-1) 0%, var(--danger-gradient-2) 100%);
    --success-gradient-1: #008641;
    --succes-gradient-2: #006330;
    --success-gradient: linear-gradient( 135deg, var(--success-gradient-1) 0%, var(--succes-gradient-2) 100%);
    --app-active-color: #f2f9f5;
    --app-secondary-bg: var(--app-active-color);
    --app-secondary-color: var(--app-green-color);
    // Inputs
    --app-input-bg: var(--color-itg-grey-medium-2);
    --app-input-placeholder-color: #8b8b8b;
    // Overlays
    --overlay-background-color: var(--app-white-color);
    --backdrop-color: var(--color-itg-medium);
    --backdrop-opacity: 0.8;
    // chips
    --app-chip-label-color: #8b8b8b;
    --app-chip-label-color-rgb: 139, 139, 139;
    --app-chip-border-color: #a7aca9;
    // Select
    --app-select-placeholder-color: var(--app-input-placeholder-color, #8b8b8b);
    --app-select-placeholder-font: var(--font-family);
    // Disabled
    --color-disabled: #d1d4d2;
    --color-disabled-rgb: 209, 212, 210;
    --color-disabled-contrast: $grey;
    --color-disabled-contrast-rgb: 0, 0, 0;
    --color-disabled-shade: #b8bbb9;
    --color-disabled-tint: #d6d8d7;
    --color-password-hide: #343439;
}

// disabled
// Custom variables.
$baseFontSizePx: 16px;
$grid-breakpoints: ();
$grid-breakpoints: map-merge( ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, ), $grid-breakpoints);
$spacers: ();
$spacers: map-merge( ( 0: 0, 1: 1px, 2: 2px, 3: 3px, 4: 4px, 5: 5px, 6: 6px, 8: 8px, 11: 11px, 10: 10px, 12: 12px, 13: 13px, 14: 14px, 15: 15px, 16: 16px, 17: 17px, 18: 18px, 19: 19px, 20: 20px, 21: 21px, 22: 22px, 23: 23px, 24: 24px, 26: 26px, 27: 27px, 28: 28px, 30: 30px, 32: 32px, 36: 36px, 37: 37px, 38: 38px, 40: 40px, 42: 42px, 44: 44px, 46: 46px, 48: 48px, 52: 52px, 56: 56px, 60: 60px, 64: 64px, 72: 72px, 73: 73px, 80: 80px, 90: 90px, 93: 93px, 96: 96px, 149: 149px, 128: 128px, 112: rem(112), ), $spacers);
$alt-font: 'Source Sans Pro',
'Helvetica Neue',
Arial,
sans-serif;
$pass-font: 'pass-font',
'Roboto',
'Helvetica Neue',
Arial,
sans-serif;

/** Custom colors **/

// Colors
$white: #ffffff;
$blue: #0087ea;
$danger: #ef6d53;
$warning: #ef6d53;
//Primary
$green: #008641;
$red: #e1261c;
$black: #191a1a;
$blue: #0087ea;
//Secondary
$secondary-grey: #747c78;
$secondary-blue: #0077cc;
$grey: #636463;
$grey3: #8b8b8b;
$grey-4: #4c4f51;
$grey-5: #4a4f4c;
$grey-6: #343439;
$medium-grey: #a7aaac;
$medium-grey-2: #d1d4d2;
$medium-grey-3: #d1d4d2;
$medium-grey-4: #6E6E6E;
$light-grey: #d1d3d4;
$light-grey-2: #f7f8f7;
$light-green-5: #bfe2d0;
$ultra-light-grey: #f2f9f5;
$ultra-light-grey-2: #f2f2f3;
$dark-grey: #454545;
//Tertiary
$dark-green: #006330;
$dark-green-b: #004220;
$medium-green: #bfe2ce;
$medium-green-2: #a7aca9;
$medium-green-3: #bfe2d0;
$light-green: #e5f2ec;
$light-green-3: #2d7d43;
$ultra-light-green: #f2f9f5;
$light-red: #c32328;
$alt-bg: #f5f9fc;
$deep-blue: #1c5393;
$light-blue: #236faa;
$yellow: #f7ce23;
$yellow-2: #f5d800;
$bg-dark: #1a1919;
$light-green-2: #5fb63d;
$light-green-5: #bfe2d0;
$box-shadow-1: 0 3px 10px -2px rgba(0, 0, 0, 0.2),
0 1px 2px 0 rgba(0, 0, 0, 0.15);
$box-shadow-2: 0 14px 10px -6px rgba(0, 99, 48, 0.25);
$box-shadow-31: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
$box-shadow-32: 0 10px 20px 0 rgba(0, 0, 0, 0.12);
$box-shadow-3: 0 2px 5px 0 rgba(0, 0, 0, 0.12),
0 10px 20px 0 rgba(0, 0, 0, 0.12);
$box-shadow-4: 0 0 2px 1px rgba(0, 0, 0, 0.08);
$alert-shadow-1: 0 15px 10px -6px rgba(0, 0, 0, 0.25);
$green-gradient: linear-gradient(135deg, $green 0%, $dark-green 100%);
$green-gradient-45: linear-gradient( 135deg, rgba($green, 0.45) 0%, rgba($dark-green, 0.45) 100%);
$red-gradient: linear-gradient(135deg, $green 0%, $dark-green 100%);
$white-layer-gradient: linear-gradient( 180deg, #ffffff 0%, rgba(255, 255, 255, 0.67) 30.25%, rgba(255, 255, 255, 0) 100%);
$backdrop-opacity: 0.8;
$backdrop-color: rgba($medium-green-2, $backdrop-opacity);
$desktop-width: 820px;