@import '../variables.scss';
@import '../mixins/mixins';
.itg {
    action-sheet {
        --color: var(--app-text-color);
        .action-sheet-container {
            padding-left: rem(16);
            padding-right: rem(16);
            padding-bottom: rem(24);
        }
        .action-sheet-group {
            position: relative;
            padding-left: rem(16);
            padding-right: rem(16);
            box-shadow: $box-shadow-31;
            --safe-area-top: 0;
            --safe-area-bottom: 0;
            .action-sheet-title {
                text-align: center;
                padding-inline-start: rem(24);
                padding-inline-start: rem(16);
                @extend .text-small;
            }
            &:not(:last-of-type) {
                padding-bottom: rem(8);
                &:after {
                    content: '';
                    height: rem(3);
                    background: inherit;
                    bottom: 0;
                    z-index: 1;
                    left: 0;
                    right: 0;
                    position: absolute;
                }
            }
            &:first-of-type {
                @extend .top-radius-8;
                @extend .bottom-radius-0;
            }
            &:last-of-type {
                @extend .top-radius-0;
                box-shadow: $box-shadow-3;
                @extend .bottom-radius-36;
                padding-top: rem(8);
                padding-bottom: rem(16);
            }
            button,
            .action-sheet-button {
                @include justify-content(center);
                @extend button;
                text-align: center;
                --backdrop-opacity: 1;
                --color-activated: var(--color);
                --color-focused: var(--color);
                --color-hover: var(--color);
                --button-background: var(--background);
                --button-background-activated: var(--background-activated);
                --button-background-activated-opacity: var( --background-activated-opacity);
                --button-background-focused: var(--background-focused);
                --button-background-focused-opacity: var(--background-focused-opacity);
                --button-background-hover: var(--background-hover);
                --button-background-hover-opacity: var(--background-hover-opacity);
                --button-background-selected: var(--background-selected);
                --button-background-selected-opacity: var( --background-selected-opacity);
                --button-color: var(--color-contrast);
                --color: var(--button-color);
                --button-color-activated: var( --color-activated, --button-color) !important;
                --button-color-focused: var(--color-focused, --button-color) !important;
                --button-color-hover: var(--color-hover, --button-color) !important;
                --button-color-selected: var(--color-hover, --button-color) !important;
                .action-sheet-button-inner {
                    @extend button;
                }
            }
        }
        &.red-title {
            .action-sheet-title {
                color: $red;
                font-size: rem(18);
                line-height: rem(24);
                font-family: $alt-font;
                font-weight: 600;
            }
        }
        &.green-title {
            .action-sheet-title {
                color: $dark-green;
                font-size: rem(18);
                line-height: rem(24);
                font-family: $alt-font;
                font-weight: 600;
            }
            &.title-lg .action-sheet-title {
                font-size: rem(24);
                line-height: rem(32);
                padding: rem(16) rem(8);
            }
        }
    }
    .locuinte-sheet {
        display: flex;
        .action-sheet-container {
            justify-content: center;
            align-items: center;
            .action-sheet-group {
                width: 100%;
            }
        }
    }
}