@import "../variables.scss";
@import "../mixins/mixins";
.itg {
    datetime {
        max-width: 100%;
        position: relative;
        --border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
        &::part(icon) {
            display: none !important;
        }
        button {
            @extend .text-normal;
        }
        --placeholder-opacity: 1;
        --placeholder-color: var(--app-select-placeholder-color);
        --placeholder-color: var(--app-select-placeholder-color);
        --background: var(--app-input-bg) !important;
        background: var(--background);
        --border-radius: 4px 4px 0 0;
        --padding-start: 8px;
        --padding-end: 40px;
        --highlight-height: 1px;
        --padding-top: 12px;
        --padding-bottom: 10px;
        &:disabled,
        &.datetime-disabled {
            --color: var(--app-input-label-color);
            color: $medium-grey-4;
            opacity: 1;
            --background: var(--color-disabled) !important;
            background: $medium-grey-2;
            --placeholder-color: var(--app-input-label-color);
            --color: $medium-grey-4;
        }
    }
    .custom-datepicker {
        .picker-toolbar {
            contain: none;
            padding: rem(12) rem(8);
            height: auto;
            .picker-toolbar-button {
                @include flexbox();
                .picker-button {
                    height: auto;
                    @extend .text-normal;
                    padding: rem(8) rem(16);
                    color: $dark-green;
                }
            }
        }
        .picker-columns {
            border-top: rem(1) solid $medium-grey-2;
            height: rem(316);
            .picker-opt {
                &.picker-opt-selected {
                    color: $dark-green;
                    font-weight: bold;
                }
            }
        }
    }
    .picker-wrapper {
        height: rem(350);
    }
}