@import '../variables';
@import '../mixins/mixins';
.itg {
    item-group {
        &.asig-item {
            border-bottom: rem(1) solid $medium-grey-2;
            --min-height: 95px;
            min-height: rem(95);
            item {
                --min-height: 16px;
                position: relative;
                --padding-start: 0;
                --inner-padding-end: 0;
                --inner-border-width: 0;
                &:last-of-type {
                    --inner-padding-bottom: 11px;
                }
                &.no-items {
                    --inner-padding-top: 44px;
                    --inner-padding-bottom: 28px;
                }
            }
            label {
                margin-left: rem(60);
                margin-right: rem(44);
                margin-top: 0;
                margin-bottom: 0;
                &.no-item {
                    margin-top: rem(42);
                    margin-top: rem(42);
                }
            }
            icon {
                margin: 0;
                position: absolute;
                &.icon-start {
                    left: rem(26);
                    top: rem(2);
                    &.no-items {
                        top: rem(45);
                        left: rem(24);
                    }
                }
                &.icon-end {
                    right: rem(14);
                    top: rem(2);
                }
            }
        }
    }
    item {
        &.form-group {
            display: flex;
            z-index: 0;
            --highlight-color-focused: var(--app-text-color);
            auto-complete.disabled-input-ph {
                --border-color: var(--color-light) !important;
                --border-color: var(--color-light) !important;
            }
            .native-input[disabled] {
                opacity: 1 !important;
                background-color: transparent !important;
                --color: var(-input-placeholder-color);
                color: $medium-grey-4;
            }
            &.autocomplete {
                z-index: 1;
                &.item-has-focus {
                    z-index: 2;
                }
            }
            flex-direction: column;
            --padding-start: 0;
            --inner-padding-end: 0;
            --inner-border-width: 0;
            --safe-area-left: 0;
            --highlight-height: 1px;
            --background-focused: --background;
            --background-hover: --background;
            --background-activated: --background;
            --highlight-color-focused: var(--app-secondary-text-color);
            --border-color: var(--color-light);
            --border-color: var(--color-light);
            &.autocomplete.ng-invalid.touched:not(.invalid) {
                &:disabled {
                    --color: var(--app-input-label-color);
                    color: $medium-grey-4;
                    opacity: 1;
                }
                label {
                    color: var(--color);
                    --color: var(--color);
                }
                --full-highlight-height: #{calc(
 var(--highlight-height) * var(--show-full-highlight))
            }
            ;
            // If the item has an inset border and highlight is enabled, show the inset item highlight
            --inset-highlight-height: #{calc(
 var(--highlight-height) * var(--show-inset-highlight))
        }
        ;
        --highlight-background: var(--highlight-color-invalid);
    }
    &.item-has-value,
    &.item-radio-checked {
        &:not(.item-has-focus) {
            .input-label {
                --color: var(--app-text-color);
                color: var(--color);
            }
        }
    }
    &.item-interactive-disabled {
        &:not(.item-has-focus) {
            .input-label {
                --color: var(--app-input-label-color);
                color: var(--color);
                opacity: 1 !important;
            }
            &:not(.invalid) {
                --border-color: var(--color-light) !important;
                --border-color: var(--color-light) !important;
            }
        }
    }
    &.item-has-focus {
        label {
            color: var(--color) !important;
            --color: var(--color);
        }
        &.valid {
            label {
                color: var(--color);
                --color: var(--color);
            }
            icon {
                color: var(--app-green-color);
                --color: var(--app-green-color);
                --color-base: var(--app-green-color);
            }
        }
        &.invalid {
            label {
                color: var(--color);
            }
        }
    }
    &.item-interactive-disabled {
        label {
            // opacity: 0.3;
        }
    }
}

&.no-paddings {
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --safe-area-left: 0;
}

&.form-description {
    --min-height: 20px;
}

&.archive-item {
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --min-height: 40px;
    --padding-start: 0;
    --inner-padding-end: 0;
    align-items: flex-start;
}

&.download-btn {
    box-shadow: $box-shadow-3;
    --inner-padding-end: 16px;
    --inner-border-width: 0;
    --inner-padding-top: 16px;
    --inner-padding-bottom: 16px;
    --padding-start: 68px;
    icon {
        margin: 0;
        margin-inline-end: rem(16);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: auto;
    }
    .spinner-wrp {
        margin: 0;
        margin-inline-end: rem(16);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: auto;
        width: rem(52);
        spinner {
            max-width: rem(20);
            max-height: rem(20);
            position: relative;
        }
    }
    label {
        white-space: normal;
        overflow: visible;
    }
}

&.radio-item-wrapper {
    --padding-start: 0;
    --inner-padding-end: 0;
    --inner-border-width: 0;
    --safe-area-left: 0;
    --inner-padding-top: 0;
    --inner-padding-bottom: 0;
    --inner-padding-left: 0;
    --inner-padding-right: 0;
    --inner-padding-start: 0;
    --padding-right: 0;
    --padding-left: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --min-height: 22px;
    radio {
        margin: 0 rem(12) 0 0;
    }
    label {
        margin: 0;
    }
}

&.item-mh-40 {
    --min-height: 40px;
}

&.expandable-item {
    --padding-start: 0;
    --padding-left: 0;
    --inner-padding-left: 0;
    .triangle-wrp {
        margin-inline-end: 0;
    }
    --border-color: var(--light-green-5);
    --border-color: var(--light-green-5);
    --inner-padding-top: 12px;
    --inner-padding-bottom: 7px;
}


}

}