@import '../variables.scss';
@import '../mixins/mixins';

.my-custom-modal-class,
.disabled-message-modal-class {
  --backdrop-opacity: 0.8 !important;

  .modal-wrapper {
    box-shadow: $alert-shadow-1;
    --max-width: calc(100% - 64px);
    --max-height: calc(100% - 64px);
    margin: auto;
    border-radius: rem(8);
    height: auto;
    overflow: auto;
    --overflow: auto;
    --height: auto;
    > * {
      position: relative;
      --height: auto;
      height: auto;
      width: 100%;
      --min-height: 240px; /* 360px */
      min-height: rem(240);
      max-height: 100%;
      display: flex;
      flex: 1;
      flex-direction: column;
      contain: content;
    }
  }
}
.assistance-modal {
  --backdrop-opacity: 0 !important;
  padding-top: rem(40);
  padding-bottom: rem(40);
  overflow-y: auto;
  background: $backdrop-color;
  .modal-wrapper {
    box-shadow: $alert-shadow-1;
    --max-width: calc(100% - 32px);

    margin: auto;
    border-radius: rem(8);
    height: auto;
    overflow: auto;
    --overflow: auto;
    --height: auto;
    > * {
      position: relative;
      --height: auto;
      height: auto;
      width: 100%;
      --min-height: 360px; /* 360px */
      min-height: rem(360);
      display: flex;
      flex: 1;
      flex-direction: column;
      contain: content;
    }
  }
}

.disabled-message-modal-class {
  .modal-wrapper {
    box-shadow: $box-shadow-3;
    --max-width: calc(100% - 32px);
    border-radius: rem(8) rem(8) rem(40) rem(40);
  }
}

.biometric-auth-modal {
  --backdrop-opacity: 0 !important;
  overflow-y: auto;
  background: transparent;
  border-radius: rem(0);
  .modal-wrapper {
    box-shadow: $box-shadow-3;
    --max-width: calc(100% - 32px);
    background-color: $white;
    margin: auto;
    border-radius: rem(0);
    height: auto;
    overflow: auto;
    --overflow: auto;
    --height: auto;
    > * {
      position: relative;
      --height: auto;
      height: auto;
      width: 100%;
      --min-height: 340px; /* 360px */
      min-height: rem(340);
      display: flex;
      flex: 1;
      flex-direction: column;
      contain: content;
    }
  }
}
