@import '../variables';
@import '../mixins/mixins';
tab-bar {
    --tab-bar-background: var(--background-color);
    border: 0;
    height: rem(80);
}

tab-button {
    // Icon and text
    --color: var(--app-text-color);
    --color-selected: var(--app-green-color);
    // Background
    --background: var(--background-color);
    --background-focused: var(--app-white-color);
    --ripple-color: var(--app-white-color);
    .custom-label {
        padding-bottom: rem(2);
        padding-left: rem(2);
        padding-right: rem(2);
        border-bottom: rem(2) solid transparent;
        &.label-border {
            border-bottom: rem(2) solid var(--app-red-color);
        }
    }
    icon {
        font-size: rem(20);
        height: rem(20);
        margin-bottom: rem(8);
    }
}