.nav-blur {
    background: #34373500 0% 0% no-repeat padding-box;
    opacity: 1;
    // TODO: add backdrop when user scrolls to position
    // backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    position: fixed;
    width: 100%;
}

.btn-reg {
    border: 1px solid #FFFFFF;
    border-radius: 28px;
    opacity: 1;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
}

.logo {
    max-width: 211px;
    max-height: 43px;
}

.page-pad {
    padding-left: 360px;
    padding-right: 360px;
}

.page-margin {
    padding-left: 360px;
    padding-right: 360px;
}

.img-text {
    position: absolute;
    top: 230px;
}

.btn-seller {
    background: #02796F 0% 0% no-repeat padding-box;
    border-radius: 28px;
    text-transform: uppercase;
    border: none;
}

.mw-560 {
    max-width: 560px;
}

.mw-383 {
    max-width: 383px;
}