<div class="entire-page">
    <div [ngClass]="{'d-none': fixNav == 'none', 'blur': fixNav == 'blur'}" class="nav-ten page-pad">
        <div class="d-flex py-12">
            <img class="logo" src="../../assets/images/Sllers-hub-logo.svg" alt="" srcset="">
            <div class="di-sm-none ml-auto">
                <span class="mr-38 ">Ten12 Express</span>
                <span class="mr-38 ">Learning center</span>
                <button [ngClass]="{'color-black': fixNav == 'blur'}" class=" btn-reg">Register</button>
            </div>
            <div class="d-lg-none ml-auto">
                ham
            </div>
        </div>
    </div>
    <div class="hero-bg d-flex">
        <div class="page-margin img-text text-white">
            <h1 class="mw-560">
                Join the No.1 Ecommerce Platform in Nigeria
            </h1>
            <p class="mw-383">
                Start making money now, it's easy and free
            </p>
            <div class="pt-80">
                <button class="btn-seller px-60 py-16 text-white">
        Become a Seller
       </button>
            </div>
        </div>
    </div>
    <div class="">
        <div class="page-pad pb-128">
            <h2 class="text-center pb-24">How it works</h2>
            <p class="text-center">Become a member on the Ten12 platform by creating an account either using your social media account or email account. Proceed to create store and begin upload of store details, then await your dashboard where items can be uploaded and all
                inventory managed.</p>
            <div class="d-flex pt-48">
                <div class="tCard mr-60 text-center px-52">
                    <img class="card-image pt-52" src="../../assets/images/become_member.svg" alt="" srcset="">
                    <h5 class="text-center pt-32">Become a member</h5>
                    <p class="text-center pt-14">Sign up for free on Ten12 and register an account using an email address.</p>
                </div>
                <div class="tCard mr-60 text-center px-52">
                    <img class="card-image pt-52" src="../../assets/images/verify_acc.svg" alt="" srcset="">
                    <h5 class="text-center pt-32">Become a member</h5>
                    <p class="text-center pt-14">Sign up for free on Ten12 and register an account using an email address.</p>
                </div>
                <div class="tCard mr-60 text-center px-52">
                    <img class="card-image pt-52" src="../../assets/images/start-selling.svg" alt="" srcset="">
                    <h5 class="text-center pt-32">Become a member</h5>
                    <p class="text-center pt-14">Sign up for free on Ten12 and register an account using an email address.</p>
                </div>
            </div>
        </div>

        <div class="diagonal-box">
            <div class="diagonal-content page-margin pt-128 text-center why-choose">
                <h5 class="text-center">Why choose Ten12</h5>
                <p class="text-center pt-16">
                    Ten12 provides the right platform for sellers to promote their brand and store online, allowing them to have personalized interaction with potential buyers.
                </p>
            </div>
            <div class="row diagonal-content page-pad pt-96">
                <div class="col-md-4">
                    <div class="choose d-flex pt-46 text-right">
                        <div class="">
                            <h6 class="">Market Coverage</h6>
                            <p>Because at Ten12 we understand your need to reach a broader consumer base and make</p>
                        </div>
                        <img class="p-14 choose-icon ml-14" src="../../assets/images/market-coverage.svg" alt="">
                    </div>
                    <div class="choose d-flex pt-96 text-right">
                        <div class="">
                            <h6 class="">Trade experience</h6>
                            <p>Kaiglo provides a user experience that allows even your most loyal customers to still keep in touch and purchase from you anywhere they are in Nigeria.</p>
                        </div>
                        <img class="p-14 choose-icon ml-14" src="../../assets/images/Trade-experience.svg" alt="">
                    </div>
                    <div class="choose d-flex pt-96 text-right">
                        <div class="">
                            <h6 class="">Easy of transaction</h6>
                            <p>On Ten12, mobile payment is made easy, fast and efficient.</p>
                        </div>
                        <img class="p-14 choose-icon ml-14" src="../../assets/images/easy-of-transaction.svg" alt="">
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <img src="../../assets/images/mobile-home.png" alt="" srcset="">
                </div>
                <div class="col-md-4">
                    <div class="choose d-flex pt-46">
                        <img class="p-14 choose-icon mr-14" src="../../assets/images/brand-rec.svg" alt="">
                        <div class="">
                            <h6 class="">Brand recognition</h6>
                            <p>Do you yearn for a platform where your brand image can be improved and recognized?</p>
                        </div>
                    </div>
                    <div class="choose d-flex pt-96">
                        <img class="p-14 choose-icon mr-14" src="../../assets/images/market-insight.svg" alt="">
                        <div class="">
                            <h6 class="">Market insight</h6>
                            <p>Kaiglo ensures that you can monitor your sales annually to know if you are excelling at a particular trade or whether it would be profitable to move to another line of business. This is made possible through our market insights.</p>
                        </div>
                    </div>
                    <div class="choose d-flex pt-96">
                        <img class="p-14 choose-icon mr-14" src="../../assets/images/efficiency.svg" alt="">
                        <div class="">
                            <h6 class="">Efficiency & trustworthy</h6>
                            <p>Issue of quality and efficient service delivery is our watch word atTen12.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="stories pt-128 page-pad pb-128">
            <div class="text-center pb-72">
                <h5>Successful stories</h5>
            </div>
            <div class="story-card row">
                <div class="col-md-4 no-padding">
                    <img class="my-48 ml-96 seller" src="../../assets/images/seller-obinnapro.png" alt="">
                </div>
                <div class="col-md-8 no-padding ">
                    <div class="store-badge mt-48 text-white px-10 py-6">
                        Store Owner
                    </div>
                    <div class="">
                        <h4>My Story</h4>
                    </div>
                    <div class="mw-500 pt-4 font-small">
                        <p>Ever since I joined Ten12, I have experienced improved sales due to their market insight data.</p>
                        <br>
                    </div>
                    <div class="">
                        <h6>ObinnaPro</h6>
                        <p class="ceo">CEO (Dope AF Inc)</p>
                    </div>
                    <div class="d-flex">
                        <div class="dot mr-8"></div>
                        <div class="dot mr-8"></div>
                        <div class="dot mr-8 active"></div>
                        <div class="dot mr-8"></div>
                        <div class="dot mr-8"></div>
                    </div>
                    <div class="">
                        <img class="float-right pb-28 pr-28" src="../../assets/images/bxs-right-arrow-circle.svg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>