<div class="entire-page">
    <div class="nav-blur page-pad">
        <div class="d-flex py-22">
            <img class="logo" src="../../assets/images/Sllers-hub-logo.svg" alt="" srcset="">
            <div class="di-sm-none ml-auto">
                <span class="mr-38 text-white">Ten12 Express</span>
                <span class="mr-38 text-white">Learning center</span>
                <button class="text-white btn-reg">Register</button>
            </div>
            <div class="d-lg-none ml-auto">
                ham
            </div>
        </div>
    </div>
    <div class="d-flex">
        <img src="../../assets/images/hero.png" alt="" srcset="">
        <div class="page-margin img-text text-white">
            <h1 class="mw-560">
                Join the No.1 Ecommerce Platform in Nigeria
            </h1>
            <p class="mw-383">
                Start making money now, it's easy and free
            </p>
            <div class="pt-80">
                <button class="btn-seller px-60 py-16">
        Become a Seller
       </button>
            </div>
        </div>
    </div>
</div>